:root {
  --color: none;
  --size: 0px;
  --blur: 0px;
  --grayscale: 0%;
  --contrast: 100%;
  --hue-rotate: 0deg;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  font-family: "Boogaloo", cursive;
}

#user-img {
  padding: var(--size);
  background: var(--color);
  filter: blur(var(--blur)) grayscale(var(--grayscale))
    contrast(var(--contrast)) hue-rotate(var(--hue-rotate));
}

input[type="range"] {
  -webkit-appearance: none;
  background: rgb(196, 160, 196);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-gap-0 {
  gap: 0.5em;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

.self-center {
  align-content: center;
}

.w-30 {
  width: 30%;
}

.w-100 {
  width: 100%;
}

.mw-80 {
  max-width: 80%;
}
.mw-100 {
  max-width: 100%;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}
