:root {
  --color: none;
  --size: 0px;
  --blur: 0px;
  --grayscale: 0%;
  --contrast: 100%;
  --hue-rotate: 0deg;
  text-align: center;
  font-family: "Boogaloo", cursive;
  color: rgb(196, 160, 196);
  font-size: 20px;
  background: linear-gradient(100deg, #ccffff, #ffcccc);
}

img {
  padding: var(--size);
  background: var(--color);
  filter: blur(var(--blur)) grayscale(var(--grayscale))
    contrast(var(--contrast)) hue-rotate(var(--hue-rotate));
}

input[type="range"] {
  -webkit-appearance: none;
  width: 10%;
  background: rgb(196, 160, 196);
}

.custom-file-input {
  color: transparent;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}
